<p><b>Submitted by:</b> <%= job.nyu_login %></p>
    <p><b>Submitted at:</b> <%= job.created_at %></p>
    <p><b>Description:</b> <%= job.description %></p>
    <p><b>File:</b> <% for f in job.design_files %>
        <a href="<%= f.url %>"><%= f.filename %></a> 
      <% end %>
      </p>
      <p><b>Email</b>: <a href="mailto:<%= job.nyu_login %>@nyu.edu"><%= job.nyu_login %>@nyu.edu</a></p>