<h2>Unapproved Jobs</h2>

<ul>
  <% for job in @unapproved_jobs%>
    <li>
    <h4><a href="/laser/jobs/<%= job.id %>">Job <%= job.id %></a></h4>

    <%= partial :job, :locals => {:job => job} %>
    <form action="/laser/approve" method="post">
      <input type="hidden" name="job_id" value="<%= job.id %>" />
      <input type="submit" value="approved!" />
    </form>
    </li>
  <% end %>
</ul>

<h2>Approved Jobs</h2>

<ul>
  <% for job in @approved_jobs%>
    <li>
      
    <h4><a href="/laser/jobs/<%= job.id %>">Job <%= job.id %></a></h4>
    <%= partial :job, :locals => {:job => job} %></li>
  <% end %>
</ul>